@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../Fonts/Montserrat-Bold.ttf');
}
@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../Fonts/Montserrat-Medium.ttf');
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../Fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'ProstoOne-Regular';
    src: url('../Fonts/ProstoOne-Regular.ttf');
}